
/*Estilos iguais ao protótipo*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root{
    --background: #FEFFE4;
    --background3: #FFFFFF;
    --background2: #FFF1C1;
    --button1: #48A4FA;
    --button2: #FF5F5F;
    --black: #000;
    --shadow-button: rgba(0, 0, 0, 0.25);
    font-family: Ubuntu;
}
body{
    background-color: var(--background);
    text-align: center;
}

/*Menu de navegação*/
header ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
header li{
    background-color: var(--background2);
    padding: 5px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgb(92, 89, 89);
}
header a{
    text-decoration: none;
    color: var(--black);
}

/*Títulos*/
h1{
    color: var(--black);
    font-size: 44px;
}
h2{
    color: var(--black);
    width: calc(243px - 54px);
    font-size: 24px;
    margin: 20px 54px;
}

/*Formulário*/
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background3);
    border-radius: 12px;
    box-shadow: 4px 4px 4px 0px var(--shadow-button);
    padding: 22px 59px;
    margin: auto;
    width: calc(420px - 59px);
    height: calc(439px - 22px);
    font-size: 16px;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
/*Legenda do formulário*/
legend{
    font-size: 24px;
    font-weight: bold;
}

/*Input do formulário*/
input{
    Width: calc(304px - 5px);
    Height: calc(34px - 5px);
    background-color: var(--background2);
    border-radius: 4px;
    padding: 5px;
    border: 1px solid var(--black);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
}
input:disabled{
    cursor: auto;
    background-color: var(--background);
}
input[type= "checkbox"]{
    Width: 20px;
    Height: 20px;
}

/*Botões do formulário*/
.buttons{
    display: flex;
    width: 85%;
    justify-content: space-between;
    height: 46px;
}
#btAtualizar, #buttonCadastro{
    background-color: var(--button1);
    color: var(--background3);
    border-radius: 3px;
    box-shadow: 4px 4px 4px 0px var(--shadow-button);
    border: 0;
    padding: 5px;
    width: 167px;
    height: 46px;
    font-size: 24px;
}
#btAtualizar:disabled, #buttonCadastro:disabled{
    background: rgb(132, 177, 236);
    border: 1px solid var(--shadow-button);
}
#btAtualizar:disabled:hover, #buttonCadastro:disabled:hover{
    background: rgb(132, 177, 236);
    border: 1px solid var(--shadow-button);
    cursor: not-allowed;
}
#btAtualizar:hover, #buttonCadastro:hover{
    cursor: pointer;
    background-color: #007BED;
}
.button2{
    border-radius: 4px;
    border: 1px solid #F59999;
    color: #F59999;
    background: #FFF;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
    padding: 5px;
    width: 118px;
    font-size: 18px;
}
form button:hover{
    cursor: pointer;
    background-color: var(--button2);
}
form button:active, #btAtualizar:active, #buttonCadastro:active{
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
button:disabled{
    color: var(--shadow-button);
    background: #FFF;
    border: 1px solid var(--shadow-button);
}
button:disabled:hover{
    background: #FFF;
    cursor: not-allowed;
}


/*----------precisam de ajustes ainda---------------*/
/*Lista de produtos*/
#listaProdutos{
    border-radius: 5px;
    width: 90%;
    margin: 20px 54px;
}
.produto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid var(--black);
    padding: 10px;
    height: calc(43px - 10px);
    margin: auto;
    font-size: 16px;
    
}
.produto:nth-child(odd){
    background-color: var(--background);
}
.produto:nth-child(even){
    background-color: var(--background2);
}
#listaProdutos li {
    display: flex;
    padding-inline: 40px;
    font-size: 16pt;
}

#listaProdutos li:nth-child(2) {
    margin-right: auto;
    margin-left: 5rem;
}